<header class="main-header">
    <nav class="teal lighten-2">
        <div class="nav-wrapper container">
          <a href="#!" class="brand-logo">QR-Gen</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Generate QRCode</a></li>
            <li><a href="https://digvijay.tech" target="_blank">Developer</a></li>
          </ul>
        </div>
      </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/upload">Generate QRCode</a></li>
        <li><a href="https://digvijay.tech" target="_blank">Developer</a></li>
    </ul>
</header>
